.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

header {
    height: 60px;
}

body {
    background-color: #fff;
}

h1 {
    width: 40%;
    font-size: 40px;
    font-weight: 600;
    color: olive;
    /* margin-right: 30px; */
    line-height: 60px;
}

span {
    color: purple;
}

nav {
    width: 60%;
    text-align: right;
    font-size: 24px;
    color: olive;
    /* margin-right: 30px; */
    line-height: 60px;
    font-weight: 600;

}

.flexbox {
    display: flex;
}

nav ul li {
    display: inline;
    list-style: none;
    margin-right: 50px;
    text-decoration: none;
}

nav ul li:last-child{
    margin-right: 0px;

}

nav ul li a {
    text-decoration: none;
    color: olive;
}

nav ul li a:hover {
    color: #f9004d;
}

/*-------Banner------------*/
.banner {
    height: 500px;
    width: 100%;
    /* background-image: url(../img/pexels-pixabay-461198.jpg);*/
    background-size: cover;
    background-position: fixed;
    background: url("../images/pexels-pixabay-461198.jpg") center center / cover no-repeat fixed, rgba(0, 0, 0, 1);

}

.grid {
    display: grid;
}

.main {
    width: 70%;
    align-content: justify;
    text-align: center;

}

.section {
    display: grid;
    place-items: center;

}

.section p {
    font-size: 28px;
    color: var(--app-pink);
    margin: 5px;
    font-weight: 600;
}

.section .name span {
    color: var(--app-pink);
}

section h2 {
    font-size: 40px;
    font-family: "PT Serif", serif;
}

section {
    display: grid;
    align-items: center;
    /*font-size:36px;*/
    color: var(--app-white);
    text-align: center;
    /* margin-top: 50px;*/
    width: 100%;
}



button {
    align-content: right;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    width: 200px;
    border-radius: 6px;
    font-size: 24px;
    margin-right: 10px;
}

.explore {
    background-color: olive;
    color: #fff;

}

.order {
    border: 2px solid olive;
    color: olive;

}

.order:hover {
    background-color: yellowgreen;
    border: 2px solid yellowgreen;
    color: #fff;
}

.explore:hover {
    background-color: yellowgreen;
}

.column {
    flex-grow: 1;
    width: calc(25% - 15px);
    border-radius: 6px;
}

.row {
    flex-flow: row wrap;
    display: flex;
    gap: 20px;
}

.rows h2 {
    text-align: left;
    color: olive;
}

.gallery-image {

    height: 160px;
    width: 100%;
    transition: transform .4s;
}

img:hover {
    transform: scale(1.1);
}

.one {
    background-color: #d6d6d6;
    padding: 20px;
    box-sizing: border-box;
}

.two {
    background-color: #d6d6d6;
    padding: 20px;
    box-sizing: border-box;
}

.three {
    background-color: #d6d6d6;
    padding: 20px;
    box-sizing: border-box;
}

.four {
    background-color: #d6d6d6;
    padding: 20px;
    box-sizing: border-box;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 0.6);
}

h2 {
    color: lightsalmon;
}

.menu {
    background-color: #d6d6d6;
    height: 200px;
    text-align: center;
    display: grid;
    place-items: center;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 0.1);
    ;
}

div h2 {
    font-size: 24px;
    color: saddlebrown;
}

.cake,
.cake2 {
    display: flex;
    text-align: right;
}


.cake p,
.cake2 p,
.cake .head,
.cookies .cake2 p {
    font-size: 16px;
    color: #000;
    text-align: left;
}

.cake p,
.cookies p {
    font-size: 20px;
    color: saddlebrown;
}

.cake p {
    width: 50%;
}

.price {
    width: 50%;
    text-align: right;
}

.cake .price {
    text-align: right;
    align-items: flex-end;
    /* margin-left: 160px; */
}

.head {
    margin: 0;
}

.tags {
    display: inline;
    line-height: 80px;
    cursor: default;
}

.rows+.rows {
    margin-top: 20px;
}

section h2 {
    font-size: 40px;
    font-family: "PT Serif", serif;
}

.more {
    display: none;
}

.card p {
    margin-top: 12px;
}

.card {
    text-align: left;
}

.flexbox {
    display: flex;
}


footer {
    background-color: #fff;
    /* height: 80px; */
    margin-top: 20px;

}

footer .container {
    /*width:min(100% - 30px, 1280px);*/
    margin-inline: auto;
}

.tags {
    width: 100%;
    text-align: center;
}

.tags {
    list-style: none;
    font-size: 0;
}

.tags {
    display: inline;
    line-height: 80px;
    cursor: default;
}

.rows+.rows {
    margin-top: 20px;
}

section h2 {
    font-size: 40px;
    font-family: "PT Serif", serif;
}

.more {
    display: none;
}

.tags,
.tags {
    font-size: 17px;
    color: var(--app-white);
    text-decoration: none;
    font-weight: 600px;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: transform .4s;
}

.names .name {
    font-size: 52px;
    color: saddlebrown;
}


.names .second {
    color: #fff;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.tags h3 {
    color: #808080;
    font-weight: 600;

}